################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net9.0
/LogAnalyzer.API/obj
/LogAnalyzer.Application/bin/Debug/net9.0
/LogAnalyzer.Application/obj
/LogAnalyzer.Domain/bin/Debug/net9.0
/LogAnalyzer.Domain/obj
/LogAnalyzer.Infrastructure/bin/Debug/net9.0
/LogAnalyzer.Infrastructure/obj
/obj
/LogAnalyzer.API/bin/Debug/net9.0
